ion-card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

div[scrollx=true],
div[scrolly=true] {
    position: relative;
    overflow: hidden;
}

div[scrollx=true] {
    overflow-x: auto;
}

div[scrolly=true] {
    overflow-y: auto;
}