ion-avatar {
    max-width: 25px;
    max-height: 25px;
}

.colorlabelchip {
    color: white;
}

ion-header {
    --ion-background-color: linear-gradient(197deg, rgb(15, 86, 107)0%, rgb(15, 86, 107) 13.5%, rgb(128, 201, 223) 33.33%, rgb(238, 232, 232) 100%) !important;
}

.logoheader {
    height: 50px;
    width: 350px;
}

.logoheaderandroid {
    height: 50px;
    width: 50px;
}