.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    background: transparent
}

ion-text {
    color: black;
}

.slide-full {
    height: 100% !important;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: 100%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.slide-image {
    width: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.inputcodigo {
    border: 2px solid black !important;
    font-size: x-large !important;
    text-align: center !important;
    background-color: black;
    color: white;
}