    ion-menu {
        --ion-background-color: linear-gradient(197deg, rgb(15, 86, 107)0%, rgb(15, 86, 107) 13.5%, rgb(128, 201, 223) 33.33%, rgb(238, 232, 232) 100%) !important;
        --ion-text-color: var(--ion-color-dark);
        ion-toolbar {
            --ion-background-color: linear-gradient(197deg, rgb(15, 86, 107)0%, rgb(15, 86, 107) 13.5%, rgb(128, 201, 223) 33.33%, rgb(238, 232, 232) 100%) !important;
        }
    }